<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/trademarket4</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">Shubh@678</property>

		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<property name="hibernate.show_sql">true</property>

	    <mapping class="com.neu.spring.pojo.Admin" />
	    <mapping class="com.neu.spring.pojo.StockInfo" />
	    <mapping class="com.neu.spring.pojo.StockCurrentInfo" />
	    <mapping class="com.neu.spring.pojo.StockEvent" />
	    <mapping class="com.neu.spring.pojo.TradeOrder" />
	    <mapping class="com.neu.spring.pojo.Trader" />
	    <mapping class="com.neu.spring.pojo.TraderStock" />
		<mapping class="com.neu.spring.pojo.UserAccount" />

	</session-factory>
</hibernate-configuration>